@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>


@inject ClassLibrary.IPrint Print
<span class="text-info display-3">@Print.ShowMessage("Hello World")</span>
<span class="text-info display-3">@Print.ShowSinulMSBH()</span>